*{
    border:2px solid red;
    margin:5px;
}

body,html{
    height: 100%;
}

.dashboard{
    width: 30%;
}
.todo-board{
    width: 65%;
    /* should this be a grid system? */
}

body{
    display: flex;
}

.profile{
    display: flex;
    margin-bottom: 50px;  /* distance between first div and 2nd */
    align-items: center;
}

.profile > div{
    text-align: center;
}

h1{  /* this h1 is equal to .dashboard > div:first-of-type h1... */
    width: 80%;
}


.buttons{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;  /* distance between second and third */
}

.buttons button{
    width: 10em;
    list-style: none;
    border-style: none;
    background-color: #3c5b6f;
    margin-bottom: 10px;
    border-radius: 7%;
}


.projectForm{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: green; /* hypothetical */
    
}