*{
    font-size: 20px;
    border: 2px solid red;
    margin:5px;  
}

body{
    background-color: grey;
}

.dashboard{
    width: 400px;
}

input{
    border-radius:5%;
}

label{
    background: linear-gradient(#e66465,#9198e5);
}

.projects{
    margin-top: 50px;
    margin-bottom: 50px;
}

.todo-board div > div{
    width: 500px;
}